{include '/public/header'}
<script>
function MM_over(mmObj) {
    var mSubObj = mmObj.getElementsByTagName("div")[0];
    mSubObj.style.display = "block";
    mSubObj.style.backgroundColor = "#fff";
}
function MM_out(mmObj) {
    var mSubObj = mmObj.getElementsByTagName("div")[0];
    mSubObj.style.display = "none";
    
}
</script>
    <div class="n-right left">
            <div class="n-right-top">
                <div class="title left">预约挂号</div>
                <div class="location right">
                    您现在的位置：<a href="/">医院首页</a><span> > </span>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div class="n-right-about">
                <div class="yy">
                    <div class="yuyue-title">
                            <img src="/images/2017051401.jpg">
                    </div>

                    <div class="guahao">
                        <div class="title">出诊信息</div>
                        <table border="1" width="98%" >
                            <tr>
                                <td>科室</td>
                                <td>时段</td>
                                {loop $week $key $value}
                                <td>{$value['zh']}<br/>{$value['data']}</td>
                                {/loop}
                            </tr>
                            {if $keshi}
                            {loop $keshi $key $value}

                            <tr>
                                <td rowspan="3">{$value}</td>
                                <td>上午</td>
                                {loop $week $k $v}
                                <td>
                                <?php $ysTime = table('ys_time')->where(array('time'=>$v['time'][0]))->field('id,ys_id,stock')->find('array'); ?>
                                    {loop $ysTime $kk $vv}
                                        {if isset($doctor[$value][$vv['ys_id']])}
                                        <div class="link" onmouseover="MM_over(this)" onmouseout="MM_out(this)">
                                            <a href="javascript:;" class="btn-guahao" data-href="<?=url('order_index',array('time'=>$v['unix'],'catid'=>$catid,'id'=>$vv['id']))?>" data-stock="{$vv['stock']}">
                                                {$doctor[$value][$vv['ys_id']]['title']}
                                            </a>
                                            <div class="nr">
                                            <a href="<?=url('detail',array('id'=>$doctor[$value][$vv['ys_id']]['id'],'catid'=>$catid))?>">
                                                <img src="{$doctor[$value][$vv['ys_id']]['thumb']}">
                                            </a>
                                            <h2>
                                                <a href="<?=url('detail',array('id'=>$doctor[$value][$vv['ys_id']]['id'],'catid'=>$catid))?>">{$doctor[$value][$vv['ys_id']]['title']}</a>
                                            </h2>
                                            职　称：<span>{$doctor[$value][$vv['ys_id']]['zc']} </span><br>
                                            专　长：<span>{$doctor[$value][$vv['ys_id']]['like']}</span>
                                            </div>
                                        </div>
                                        {/if}
                                    {/loop}
                                {/loop}
                                </td>
                            </tr>
                            <tr>
                                <td>下午</td>
                                {loop $week $k $v}
                                <td>
                                <?php $ysTime = table('ys_time')->where(array('time'=>$v['time'][1]))->field('id,ys_id,stock')->find('array'); ?>
                                    {loop $ysTime $kk $vv}
                                        {if isset($doctor[$value][$vv['ys_id']])}
                                        <div class="link" onmouseover="MM_over(this)" onmouseout="MM_out(this)">
                                            <a href="javascript:;" class="btn-guahao" data-href="<?=url('order_index',array('time'=>$v['unix'],'catid'=>$catid,'id'=>$vv['id']))?>" data-stock="{$vv['stock']}">
                                                {$doctor[$value][$vv['ys_id']]['title']}
                                            </a>
                                            <div class="nr">
                                            <a href="<?=url('detail',array('id'=>$doctor[$value][$vv['ys_id']]['id'],'catid'=>$catid))?>">
                                                <img src="{$doctor[$value][$vv['ys_id']]['thumb']}">
                                            </a>
                                            <h2>
                                                <a href="<?=url('detail',array('id'=>$doctor[$value][$vv['ys_id']]['id'],'catid'=>$catid))?>">{$doctor[$value][$vv['ys_id']]['title']}</a>
                                            </h2>
                                            职　称：<span>{$doctor[$value][$vv['ys_id']]['zc']} </span><br>
                                            专　长：<span>{$doctor[$value][$vv['ys_id']]['like']}</span>
                                            </div>
                                        </div>
                                        {/if}
                                    {/loop}
                                {/loop}
                                </td>
                            </tr>
                            <tr>
                                <td>晚上</td>
                                {loop $week $k $v}
                                <td>
                                <?php $ysTime = table('ys_time')->where(array('time'=>$v['time'][2]))->field('id,ys_id,stock')->find('array'); ?>
                                    {loop $ysTime $kk $vv}
                                        {if isset($doctor[$value][$vv['ys_id']])}
                                        <div class="link" onmouseover="MM_over(this)" onmouseout="MM_out(this)">
                                            <a href="javascript:;" class="btn-guahao" data-href="<?=url('order_index',array('time'=>$v['unix'],'catid'=>$catid,'id'=>$vv['id']))?>" data-stock="{$vv['stock']}">
                                                {$doctor[$value][$vv['ys_id']]['title']}
                                            </a>
                                            <div class="nr">
                                            <a href="<?=url('detail',array('id'=>$doctor[$value][$vv['ys_id']]['id'],'catid'=>$catid))?>">
                                                <img src="{$doctor[$value][$vv['ys_id']]['thumb']}">
                                            </a>
                                            <h2>
                                                <a href="<?=url('detail',array('id'=>$doctor[$value][$vv['ys_id']]['id'],'catid'=>$catid))?>">{$doctor[$value][$vv['ys_id']]['title']}</a>
                                            </h2>
                                            职　称：<span>{$doctor[$value][$vv['ys_id']]['zc']} </span><br>
                                            专　长：<span>{$doctor[$value][$vv['ys_id']]['like']}</span>
                                            </div>
                                        </div>
                                        {/if}
                                    {/loop}
                                {/loop}
                                </td>
                            </tr>
                            {/loop}
                            {/if}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!--end-->
{include '/public/footer'}
</body>
</html>
