<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>重庆继续考试网考试平台</title>
        <!-- Framework CSS -->
        <link rel="stylesheet" href="<?=vars('urls','puls')?>bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="<?=vars('urls','ststic')?>console/common.css">
        <link rel="stylesheet" href="<?=vars('urls','ststic')?>console/reset.css">
    </head>
    <body class="yhgl_ckyh">
        <div class="header">
            <div class="container">
                <div class="logo"></div>
            </div>
        </div>
        <div class="container">
            <div class="span-24 last">
                <div class="content">
                    <h2>查看用户</h2>
                    <div class="mt8">
                    <form class="form-inline ng-pristine ng-valid" method="get" >
                        <div class="form-group">
                            <select class="form-control" name="field">
                                <option value="">请选择搜索条件</option>
                                <option value="xm" <?php if($field == 'xm') ?>selected="selected"<?='}'?>>姓名</option>
                                <option value="sfz" <?php if($field == 'sfz') ?>selected="selected"<?='}'?>>身份证</option>
                            </select>
                            <input type="text" class="form-control w120" placeholder="Search" name="keyword" value="<?=$keyword?>">
                            <button type="submit" class="btn btn-default" >搜索</button>
                            <input type="hidden" name="m" value="<?=MODEL?>"> 
                            <input type="hidden" name="c" value="<?=CONTROLLER?>"> 
                            <input type="hidden" name="a" value="<?=ACTION?>"> 
                            <a type="button" class="btn btn-default" href="/admin/xls_member.php" >批量下载会员信息</a>
                        </div>
                    </form>
                </div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>编号</th>
                                <th>姓名</th>
                                <th>性别</th>
                                <th>身份证</th>
                                <th>所属医院</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php if($list){ ?>
                                <?php foreach ($list as $row) { ?>
                                <tr>
                                    <td><?=$row['bh']?></td>
                                    <td><?=$row['xm']?></td>
                                    <td><?=$row['xb']?></td>
                                    <td><?=$row['sfz']?></td>
                                    <td><?=$row['yy']?></td>
                                    <td><input type="button" value="查看" data-operation="read" data-bh="<?=$row['bh']?>" /></td>
                                </tr>
                                <?php } ?>
                            <?php  } ?>
                        </tbody>
                        <tfoot ng-show="pages">
                            <tr>
                                <td colspan="13">
                                    <?=$pages?>
                                </td>
                            </tr>
                            </tfoot>
                    </table>
                    
                </div>
            </div>
        </div>
    </body>
</html>