<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>重庆继续考试网考试平台</title>
        <!-- Framework CSS -->
        <link rel="stylesheet" href="<?=vars('urls','puls')?>bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="<?=vars('urls','ststic')?>console/css/common.css">
        <link rel="stylesheet" href="<?=vars('urls','ststic')?>console/css/reset.css">
    </head>
    <body>
		<form  ng-submit="comply()" > 
		<div class="modal-body" >
			<table class="table">
				<tr>
					<td>订单编号</td>
					<td>{$orders['order_sn']}</td>
				</tr>
				<tr>
					<td>姓名<</td>
					<td>{$orders['name']}</td>
				</tr>
				<tr>
					<td>手机号</td>
					<td>{$orders['mobile']}</td>
				</tr>
				<tr>
					<td>预约时间</td>
					<td>{$orders['data']['time_copy']}</td>
				</tr>
				<tr>
					<td>医院</td>
					<td>{$orders['data']['hospital']}</td>
				</tr>
				<tr>
					<td>预约医生</td>
					<td>{$orders['data']['doctor']}</td>
				</tr>
				<tr>
					<td>预约科室</td>
					<td>{$orders['data']['keshi']}</td>
				</tr>
				<tr>
					<td>家庭住址</td>
					<td>{$orders['data']['address']}</td>
				</tr>
				<tr>
					<td>订单金额</td>
					<td>{$orders['amount']}</td>
				</tr>
			</table>
		</div>
		<div class="modal-footer">
			<!-- <button type="submit" class="btn btn-primary" ng-if="!loading">确定</button>
			<button type="submit" class="btn btn-primary" ng-if="loading">发货中</button> -->
		</div>
		</form>
	</body>
</div>
