{include '/public/header'}
    <div class="n-right left">
            <div class="n-right-top">
                <div class="title left">查询/退号</div>
                <div class="location right">
                    您现在的位置：<a href="/">医院首页</a><span> > </span>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
         	<div class="n-right-about">
         		<div class="chaxun">
                    <form method="post">
                       <table class="chaxun-from">
                            <input type="hidden" name="catid"  value="{$catid}">
                            <tr>
                               <td align="right">个人姓名</td>
                               <td><input type="text" name="name" placeholder="请输入患者真实姓名"></td>
                            </tr>
                            <tr>
                               <td align="right">身份证号</td>
                               <td><input type="text" name="code" placeholder="请输入患者身份证号"></td>
                            </tr>
                            <tr>
                               <td align="right">手机号</td>
                               <td><input type="text" name="mobile" placeholder="请输入预约手机号"></td>
                            </tr>
                            <tr>
                               <td colspan="2"><input type="button" value="查询" class="btn-chaxun"></td>
                            </tr>
                       </table> 
                    </from>
         		</div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!--end-->
{include '/public/footer'}
</body>
</html>
